.allStyle {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.headerStyle {
  font-family: 'Charm', cursive;
  font-weight: bold;
  font-size: 80px;
}

.tableStyle {
  font-size: 80px;
  margin: auto;
  padding: 20px;
}

.tableItem {
  border-style: solid;
  background-color: gray;
  width: 150px;
  height: 150px;
}
